body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}


.container-menu {
    margin: 0 auto;
    padding: 20px;
    background-color: #25423d;
    color: white;
}
.img-menu {
    display: none;
}
.menu a {
    margin: 5px;
    margin-bottom: 20px;
    text-decoration: none;
    color: #ffffff;
}
.menu-img img{
    display:none;
}
.menu-img {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;

}

.header {
    display: flex;
    justify-content: space-between;
    color:rgb(255, 255, 255);
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding:  0;
    border-bottom: 1px solid #ddd;
}

.logo {
    font-size: 24px;
    font-weight: bold;

}

.header a {
    color:rgb(255, 255, 255);
    text-decoration: none;
    display: flex;
    align-items: center;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
}

.logo img {
    height: 150px;
    margin-right: 10px;
    border-radius: 100px;
}

.menu {
    display: none;
    margin-bottom: 10px;
    font-weight: bold;
}
.menu a:hover {
    color: rgb(207, 203, 203);
}

.menu li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    list-style: none;
}


@media screen and (max-width: 768px) {
    .logo img {
        width: 100px; 
        height: 100px;
    }
    .menu-img {
        display: flex;
        justify-content: center;
        align-items: end;
    }
    .img-menu {
        cursor: pointer;
        display: none;
        height: 27px;
        width: 30px;
 
    }
    
    .menu {
        display: none; 
        flex-direction: column; 
        align-items: center; 
    }
    .menu-opner {
        display: flex;
    }

    .menu.show {
        font-size: 30px;
        padding: 5px;
        border-radius: 10px;
        background-color: #00080746;
        display: flex; 
    }

    .menu-opener {
        text-align: center;
    }

    .menu-opner img {
        width: 20px;
        display: flex;
    }

    .menu li {
        margin-bottom: 10px; 
    }
}
